<h1>Create employee</h1>

{{!-- id, first_name, last_name, employee_ID, title, department, salary --}}
<form class="create-employee">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstName">First Name</label>
      <input type="text" name="first_name" class="form-control" value="{{this.first_name}}" id="first_name">
    </div>
    <div class="form-group col-md-6">
      <label for="lastName">Last Name</label>
      <input type="text" name="last_name" class="form-control" value="{{this.last_name}}" id="last_name">
    </div>
  </div>
  <div class="form-group">
    <label for="employeeID">Employee ID</label>
    <input type="text" name="employee_ID" class="form-control" id="employee_ID" placeholder="{{this.employee_ID}}">
  </div>
  <div class="form-group">
    <label for="employeeTitle">Employee Title</label>
    <input type="text" name="title" class="form-control" id="title" value="" placeholder="{{this.title}}">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="employeeDepartment">Employee Department</label>
        <select class="custom-select my-1 mr-sm-2 department" id="department">
            <option selected>Choose...</option>
            <option value="Sales Lead">Sales Lead</option>
            <option value="Salesperson">Salesperson</option>
            <option value="Lead Engineer">Lead Engineer</option>
            <option value="Software Engineer">Software Engineer</option>
            <option value="Account Manager">Account Manager</option>
            <option value="Accountant">Accountant</option>
            <option value="Legal Team">Legal Team</option>
        </select>
    </div>
    <div class="form-group col-md-2">
      <label for="employeeSalary">Employee Salary</label>
      <input type="text" name="salary" class="form-control" value="" placeholder="{{this.salary}}" id="salary">
    </div>
  <button type="submit" method="submit" class="btn btn-primary">Create</button>
</form>
